<h2>{{title}}</h2>
<p>{{message}}</p>
<div style="padding: 20px;">
    {{#if message}}
        <div style="margin-bottom: 20px;">
            {{{message}}}
        </div>
    {{/if}}

    {{#if actionButton}}
        <div style="text-align: center;">
            <a href="{{actionButton.url}}" class="btn">
                {{actionButton.text}}
            </a>
        </div>
    {{/if}}
</div>